<!-- <div [ngClass]="groupClass.labelClass" [formGroup]="formGroup" *ngFor="let labelParam of labelParams"> -->
<!-- <ng-template *ngFor="let labelParam of labelParams"> -->

  
<div [ngClass]="fieldParam.divclass" [formGroup]="formGroup">
  <label id={{fieldParam.id}} class="control-label" *ngIf="fieldParam.type === 'label'">{{fieldParam.label}}</label>
  <input id="{{fieldParam.id}}" class="form-control" name="{{fieldParam.name}}" [ngClass]="fieldParam.class"
  formControlName='{{fieldParam.formCtrl}}' *ngIf="fieldParam.type==='input'" [readonly]="fieldParam.readonly">
</div>


<!-- </ng-template> -->
<!-- </div> -->
<!-- <ng-template *ngFor="let inputParam of inputParams"> -->
<!-- <div [ngClass]="groupClass.inputClass" [formGroup]="formGroup" *ngFor="let inputParam of inputParams"> -->

<!-- </div> -->
<!-- </ng-template> -->
