<div class="1-page">
	<a id="top"></a>
  <div class="container c-Main">
		<app-header [publicBulletinDisable]="true" previous [signoutDisable]="false" [endJobHide]="false" menuName="Dsp Equipment Reading">
		</app-header>
    <div class="row">
      <section class="col-md-80 connectedSortable">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title">Dsp Equipment Reading Details</h3>
          </div>
          <div class="box-body" id="flat-box">
            <div class="col-md-offset-0">
              <div class="row">
                <div class="col-md-80">
                  <form class="form-horizontal" name="flatPanel" enable-validation="true" auto-focus="true">
										   <!-- DTL SCREEN RECORD LAYOUT -->
                    <fieldset>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    Sgt
											  </label>
											  <div class="col-md-9 col-md-offset-8">
											    {{ equipmentReadings.equipmentReadingSgt }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    Region
											  </label>
											  <div class="col-md-1 col-md-offset-8">
											    {{ equipmentReadings.awhRegionCode }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    AWHRegion
											  </label>
											  <div class="col-md-30 col-md-offset-8">
											    {{ equipmentReadings.awhRegionNameDrv }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    Centre
											  </label>
											  <div class="col-md-2 col-md-offset-8">
											    {{ equipmentReadings.centreCodeKey }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    CentreNameDrv
											  </label>
											  <div class="col-md-20 col-md-offset-8">
											    {{ equipmentReadings.centreNameDrv }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    BuisnessSegm
											  </label>
											  <div class="col-md-3 col-md-offset-8">
											    {{ equipmentReadings.awhBuisnessSegment }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    Code
											  </label>
											  <div class="col-md-10 col-md-offset-8">
											    {{ equipmentReadings.plantEquipmentCode }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    Description
											  </label>
											  <div class="col-md-50 col-md-offset-8">
											    {{ equipmentReadings.equipmentDescriptionDrv }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    EquipType
											  </label>
											  <div class="col-md-4 col-md-offset-8">
											    {{ equipmentReadings.equipmentTypeCode }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    EquipmentTypeDescDrv
											  </label>
											  <div class="col-md-25 col-md-offset-8">
											    {{ equipmentReadings.equipmentTypeDescDrv }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    Type
											  </label>
											  <div class="col-md-3 col-md-offset-8">
											    {{ equipmentReadings.readingType }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    Timestamp
											  </label>
											  <div class="col-md-18 col-md-offset-8">
											    {{ equipmentReadings.readingTimestamp }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    UserId
											  </label>
											  <div class="col-md-10 col-md-offset-8">
											    {{ equipmentReadings.userId }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    ReadingValue
											  </label>
											  <div class="col-md-7 col-md-offset-8">
											    {{ equipmentReadings.readingValue }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    Leasor
											  </label>
											  <div class="col-md-5 col-md-offset-8">
											    {{ equipmentReadings.equipmentLeasor }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    Organization
											  </label>
											  <div class="col-md-50 col-md-offset-8">
											    {{ equipmentReadings.organisationNameDrv }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    TransferSgt
											  </label>
											  <div class="col-md-9 col-md-offset-8">
											    {{ equipmentReadings.transferToFromSgt }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    TransferBuisSeg
											  </label>
											  <div class="col-md-3 col-md-offset-8">
											    {{ equipmentReadings.transferToBuisSeg }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    TransferCentre
											  </label>
											  <div class="col-md-2 col-md-offset-8">
											    {{ equipmentReadings.transferToCentre }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    ReadingDate
											  </label>
											  <div class="col-md-6 col-md-offset-8">
											    {{ equipmentReadings.readingRequiredDate }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    DifferencefromPrv
											  </label>
											  <div class="col-md-7 col-md-offset-8">
											    {{ equipmentReadings.differenceFromPrevious }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    IdleDays
											  </label>
											  <div class="col-md-5 col-md-offset-8">
											    {{ equipmentReadings.idleDaysFromPrevious }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    UnavailableDays
											  </label>
											  <div class="col-md-5 col-md-offset-8">
											    {{ equipmentReadings.unavailableDaysFromPrv }}
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="specialInstructions" class="col-md-3 control-label">
											    ReadingComment
											  </label>
											  <div class="col-md-120 col-md-offset-8">
											    <div class="input-group">
											      <input [maxLength]="120" size="15em" [(ngModel)]="equipmentReadings.specialInstructions" name="specialInstructions" id="specialInstructions" placeholder="Reading Comment" type="text" class="form-control"/>
											    </div>
											  </div>
											</div>
											<input [(ngModel)]="equipmentReadings.readingComment" name="readingComment" id="readingComment" type="hidden"/>
											<div class="form-group">
											  <div class="col-md-9 col-md-offset-11">
											    <div class="btn-group">
											      <button (click)="onSubmit()" [disabled]="add" type="button" title="Filter" class="btn btn-primary">
											        <i class="fa fa-filter">
											        </i>
											        Filter
											      </button>
											    </div>
											  </div>
											</div>
										</fieldset>
										<!-- NAVIGATION KEYS -->
										<div class="btn-group">
										  <app-function-key-panel [keys]="funcParams">
										  </app-function-key-panel>
										  <app-enter-key (enterButtonFunction)="onSubmit()" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary pull-right" divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
										  </app-enter-key>
										</div>
									</form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
