<div class="1-page">
	<a id="top"></a>
  <div class="container c-Main">
		<app-header [publicBulletinDisable]="true" previous [signoutDisable]="false" [endJobHide]="false" menuName="Display Plant Equipment">
		</app-header>
    <div class="row">
      <section class="col-md-80 connectedSortable">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title">Display Plant Equipment Details</h3>
          </div>
          <div class="box-body" id="flat-box">
            <div class="col-md-offset-0">
              <div class="row">
                <div class="col-md-80">
                  <form class="form-horizontal" name="flatPanel" enable-validation="true" auto-focus="true">
										   <!-- DTL SCREEN RECORD LAYOUT -->
                    <fieldset>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    RegionCode
											  </label>
											  <div class="col-md-1 col-md-offset-8">
											    {{ plantEquipment.awhRegionCode }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    AWHRegion
											  </label>
											  <div class="col-md-30 col-md-offset-8">
											    {{ plantEquipment.awhRegionNameDrv }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    EquipmentCode
											  </label>
											  <div class="col-md-10 col-md-offset-8">
											    {{ plantEquipment.plantEquipmentCode }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    BuisnessSegment
											  </label>
											  <div class="col-md-3 col-md-offset-8">
											    {{ plantEquipment.awhBuisnessSegment }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    VisualCode
											  </label>
											  <div class="col-md-6 col-md-offset-8">
											    {{ plantEquipment.visualEquipmentCode }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    Centre
											  </label>
											  <div class="col-md-2 col-md-offset-8">
											    {{ plantEquipment.centreCodeKey }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    CentreNameDrv
											  </label>
											  <div class="col-md-20 col-md-offset-8">
											    {{ plantEquipment.centreNameDrv }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    EquipmentLeasor
											  </label>
											  <div class="col-md-5 col-md-offset-8">
											    {{ plantEquipment.equipmentLeasor }}
											  </div>
											</div>
											<input [(ngModel)]="plantEquipment.equipmentStatus" name="equipmentStatus" id="equipmentStatus" type="hidden"/>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    Organization
											  </label>
											  <div class="col-md-50 col-md-offset-8">
											    {{ plantEquipment.organisationNameDrv }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    Segment
											  </label>
											  <div class="col-md-3 col-md-offset-8">
											    {{ plantEquipment.awhBuisnessSegment }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    Description
											  </label>
											  <div class="col-md-50 col-md-offset-8">
											    {{ plantEquipment.equipmentDescription }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    Barcode
											  </label>
											  <div class="col-md-17 col-md-offset-8">
											    {{ plantEquipment.equipmentBarcode }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    SerialNo.
											  </label>
											  <div class="col-md-25 col-md-offset-8">
											    {{ plantEquipment.equipmentSerialNumber }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    LeaseDates
											  </label>
											  <div class="col-md-6 col-md-offset-8">
											    {{ plantEquipment.leaseComencmentDate }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    to
											  </label>
											  <div class="col-md-6 col-md-offset-8">
											    {{ plantEquipment.leaseExpireDate }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    LeaseMonthly$
											  </label>
											  <div class="col-md-7 col-md-offset-8">
											    {{ plantEquipment.leaseMonthlyRateS }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    LeaseMaxTotalUnits
											  </label>
											  <div class="col-md-7 col-md-offset-8">
											    {{ plantEquipment.leaseMaxTotalUnits }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    ReadingFrequency
											  </label>
											  <div class="col-md-3 col-md-offset-8">
											    {{ plantEquipment.readingFrequency }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    Comment
											  </label>
											  <div class="col-md-120 col-md-offset-8">
											    {{ plantEquipment.equipmentComment }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    TypeCode
											  </label>
											  <div class="col-md-4 col-md-offset-8">
											    {{ plantEquipment.equipmentTypeCode }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    EquipmentTypeDescDrv
											  </label>
											  <div class="col-md-25 col-md-offset-8">
											    {{ plantEquipment.equipmentTypeDescDrv }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    ReadingUnit
											  </label>
											  <div class="col-md-3 col-md-offset-8">
											    {{ plantEquipment.equipReadingUnit }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    InitialReading
											  </label>
											  <div class="col-md-7 col-md-offset-8">
											    {{ plantEquipment.readingValue }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    Date
											  </label>
											  <div class="col-md-6 col-md-offset-8">
											    {{ plantEquipment.readingRequiredDate }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    PreviousReading
											  </label>
											  <div class="col-md-7 col-md-offset-8">
											    {{ plantEquipment.previousReadingValue }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    Date
											  </label>
											  <div class="col-md-6 col-md-offset-8">
											    {{ plantEquipment.previousReadingDate }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    TotalUsage
											  </label>
											  <div class="col-md-7 col-md-offset-8">
											    {{ plantEquipment.totalUsage }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    Servicereading
											  </label>
											  <div class="col-md-7 col-md-offset-8">
											    {{ plantEquipment.serviceReading }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    Date
											  </label>
											  <div class="col-md-6 col-md-offset-8">
											    {{ plantEquipment.serviceReadingDate }}
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    UsageSinceServ
											  </label>
											  <div class="col-md-7 col-md-offset-8">
											    {{ plantEquipment.serviceValue }}
											  </div>
											</div>
										</fieldset>
										<!-- NAVIGATION KEYS -->
										<div class="btn-group">
										  <app-function-key-panel [keys]="funcParams">
										  </app-function-key-panel>
										  <app-enter-key (enterButtonFunction)="onSubmit()" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary pull-right" divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
										  </app-enter-key>
										</div>
									</form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
