<app-header [publicBulletinDisable]="true" previous [signoutDisable]="false" [endJobHide]="false" menuName="Edit Plant Equipment"
 [programName]="plantEquipment.programMode">
</app-header>
<div class="row">
	<section class="col-md-80 connectedSortable">
		<div class="box box-primary">
			<div class="box-header">
				<h3 class="box-title">
					Edit Plant Equipment Details
				</h3>
			</div>
			<div id="flat-box" class="box-body">
				<div class="col-md-offset-0">
					<div class="row">
						<div class="col-md-80">
							<form name="flatPanel" class="form-horizontal">
								<fieldset>
									<div class="form-group col-md-40">
										<label class="input-label control-label">Region Code</label>
										<div class="content-input">
											<input class="readonly-input" value="{{plantEquipment.awhRegionCode}}" readonly tabindex="1">
										</div>
									</div>
									<div class="form-group col-md-40">
										<label for="leaseMonthlyRateS" class="input-label control-label">Monthly rate $</label>
										<div class="content-input">
											<div class="input-group">
												<input [maxLength]="7" size="14em" [(ngModel)]="plantEquipment.leaseMonthlyRateS" name="leaseMonthlyRateS" id="leaseMonthlyRateS"
												 placeholder="Monthly rate $" type="text" class="form-control" />
											</div>
										</div>
									</div>
									<div class="form-group col-md-40">
										<label class="input-label control-label">Equipment Code</label>
										<div class="content-input">
											<input class="readonly-input" value="{{plantEquipment.plantEquipmentCode}}" readonly tabindex="2">
										</div>
									</div>
									<div class="form-group col-md-40">
										<label for="leaseMaxTotalUnits" class="input-label control-label">Lease Total Units</label>
										<div class="content-input">
											<div class="input-group">
												<input [maxLength]="7" size="17em" [(ngModel)]="plantEquipment.leaseMaxTotalUnits" name="leaseMaxTotalUnits" id="leaseMaxTotalUnits"
												 placeholder="Lease Total Units" type="text" class="form-control" />
											</div>
										</div>
									</div>
									<div class="form-group col-md-40">
										<label for="visualEquipmentCode" class="input-label control-label">Visual Equipment Code</label>
										<div class="content-input">
											<div class="input-group">
												<input [maxLength]="6" size="21em" [(ngModel)]="plantEquipment.visualEquipmentCode" name="visualEquipmentCode" id="visualEquipmentCode"
												 placeholder="Visual Equipment Code" type="text" class="form-control" tabindex="3" />
											</div>
										</div>
									</div>
									<div class="form-group col-md-40">
										<label for="readingFrequency" class="input-label control-label">Reading Frequency</label>
										<div class="content-input">
											<div class="input-group">
												<select [(ngModel)]="plantEquipment.readingFrequency" name="readingFrequency" id="readingFrequency" title="ReadingFrequency"
												 class="form-control">
													<option value="{{ operator.code }}" *ngFor="let operator of readingFrequency">
														{{ operator.description }}
													</option>
												</select>
											</div>
										</div>
									</div>
									<div class="form-group col-md-40">
										<label for="centreCodeKey" class="input-label control-label">Centre</label>
										<div class="content-input">
											<div class="input-group">
												<input [maxLength]="2" size="6em" [(ngModel)]="plantEquipment.centreCodeKey" name="centreCodeKey" id="centreCodeKey" placeholder="Centre"
												 type="text" class="form-control" tabindex="4" />
											</div>
										</div>
									</div>
									<div class="form-group col-md-40">
										<label for="equipmentComment" class="input-label control-label">Comment</label>
										<div class="content-input">
											<div class="input-group">
												<input [maxLength]="120" size="7em" [(ngModel)]="plantEquipment.equipmentComment" name="equipmentComment" id="equipmentComment"
												 placeholder="Comment" type="text" class="form-control" />
											</div>
										</div>
									</div>
									<div class="form-group col-md-40">
										<label for="equipmentLeasor" class="input-label control-label">Equipment Leasor</label>
										<div class="content-input">
											<div class="input-group">
												<input [maxLength]="5" size="16em" [(ngModel)]="plantEquipment.equipmentLeasor" name="equipmentLeasor" id="equipmentLeasor"
												 placeholder="Equipment Leasor" type="text" class="form-control" (blur)="plantEquipment.conditionName ='equipmentLeaser'"
												 tabindex="5" />
											</div>
										</div>
									</div>
									<div class="form-group col-md-40">
										<label for="equipmentTypeCode" class="input-label control-label">Type Code</label>
										<div class="content-input">
											<div class="input-group">
												<input [maxLength]="4" size="9em" [(ngModel)]="plantEquipment.equipmentTypeCode" name="equipmentTypeCode" id="equipmentTypeCode"
												 placeholder="Type Code" type="text" class="form-control" (blur)="plantEquipment.conditionName ='equipmentTypeCode'"
												/>
											</div>
										</div>
									</div>
									<input [(ngModel)]="plantEquipment.equipmentStatus" name="equipmentStatus" id="equipmentStatus" type="hidden" />
									<div class="form-group col-md-40">
										<label for="awhBuisnessSegment" class="input-label control-label">Segment</label>
										<div class="content-input">
											<div class="input-group">
												<select [(ngModel)]="plantEquipment.awhBuisnessSegment" name="awhBuisnessSegment" id="awhBuisnessSegment" title="Segment"
												 class="form-control" tabindex="6">
													<option value="{{ operator.code }}" *ngFor="let operator of awhBuisnessSegment">
														{{ operator.description }}
													</option>
												</select>
											</div>
										</div>
									</div>
									<div class="form-group col-md-40">
										<label for="equipReadingUnit" class="input-label control-label">Reading Unit</label>
										<div class="content-input">
											<div class="input-group">
												<select [(ngModel)]="plantEquipment.equipReadingUnit" name="equipReadingUnit" id="equipReadingUnit" title="ReadingUnit" class="form-control">
													<option value="{{ operator.code }}" *ngFor="let operator of equipReadingUnit">
														{{ operator.description }}
													</option>
												</select>
											</div>
										</div>
									</div>
									<div class="form-group col-md-80">
										<label for="equipmentDescription" class="input-label control-label">Description</label>
										<div class="content-input">
											<div class="input-group">
												<input [maxLength]="50" size="7em" [(ngModel)]="plantEquipment.equipmentDescription" name="equipmentDescription" id="equipmentDescription"
												 placeholder="Description" type="text" class="form-control" tabindex="7" />
											</div>
										</div>
									</div>
									<div class="form-group col-md-80">
										<label for="equipmentBarcode" class="input-label control-label">Barcode</label>
										<div class="content-input">
											<div class="input-group">
												<input [maxLength]="17" size="7em" [(ngModel)]="plantEquipment.equipmentBarcode" name="equipmentBarcode" id="equipmentBarcode"
												 placeholder="Barcode" type="text" class="form-control" tabindex="8" />
											</div>
										</div>
									</div>
									<div class="form-group col-md-80">
										<label for="equipmentSerialNumber" class="input-label control-label">Serial No.</label>
										<div class="content-input">
											<div class="input-group">
												<input [maxLength]="25" size="10em" [(ngModel)]="plantEquipment.equipmentSerialNumber" name="equipmentSerialNumber" id="equipmentSerialNumber"
												 placeholder="Serial No." type="text" class="form-control" tabindex="9" />
											</div>
										</div>
									</div>
									<div class="form-group col-md-80">
										<label for="leaseComencmentDate" class="input-label control-label">Lease Commence</label>
										<div class="content-input">
											<div class="input-group">
												<input size="14em" [(ngModel)]="plantEquipment.leaseComencmentDate" name="leaseComencmentDate" id="leaseComencmentDate" placeholder="Lease Commence"
												 type="date" class="form-control" tabindex="10" />
											</div>
										</div>
									</div>
									<div class="form-group col-md-80">
										<label for="leaseExpireDate" class="input-label control-label">Expire</label>
										<div class="content-input">
											<div class="input-group">
												<input size="6em" [(ngModel)]="plantEquipment.leaseExpireDate" name="leaseExpireDate" id="leaseExpireDate" placeholder="Expire"
												 type="date" class="form-control" tabindex="11" />
											</div>
										</div>
									</div>

								</fieldset>
								<div class="btn-group">
									<app-function-key-panel [keys]="funcParams">
									</app-function-key-panel>
									<app-enter-key (enterButtonFunction)="onSubmit()" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary pull-right"
									 divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
									</app-enter-key>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>