<div class="row l-row app-header">
	<div class="c-header__Col header-logo">
		<img id="app-logo" src="../../../assets/fresche/img/logo.png" alt="AWH">
	</div>
</div>
<div class="row l-row">
	<div class="col-xs-50">
		<h4 class="c-task__Label">{{menuName}}</h4>
	</div>
	<div class="box-header info-box">
		<h5>{{today | date:'MM/dd/yyyy'}}</h5>
		<h5>MEL  {{today | date:'HH:mm:ss'}}</h5>
		<h5>{{conditionName}}</h5>
	</div>
</div>
