<div class="1-page">
	<a id="top"></a>
  <div class="container c-Main">
		<app-header [publicBulletinDisable]="true" previous [signoutDisable]="false" [endJobHide]="false" menuName="Enter Batch Readings HH">
		</app-header>
    <div class="row">
      <section class="col-md-80 connectedSortable">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title">Enter Equip Readings HH</h3>
          </div>
          <div class="box-body" id="flat-box">
            <div class="col-md-offset-0">
              <div class="row">
                <div class="col-md-80">
                  <form class="form-horizontal" name="flatPanel" enable-validation="true" auto-focus="true">
										<!-- DTL SCREEN RECORD LAYOUT -->
                    <fieldset>
											<div *ngIf="!add" class="form-group">
											  <label for="ean13Alpha" class="col-md-3 control-label">
											    Batch
											  </label>
											  <div class="col-md-13 col-md-offset-8">
											    <div class="input-group">
											      <input [maxLength]="13" size="7em" [(ngModel)]="equipmentReadingControl.ean13Alpha" name="ean13Alpha" id="ean13Alpha" placeholder="Batch :" type="text" class="form-control"/>
											    </div>
											  </div>
											</div>
											<div class="form-group">
											  <div>
											    <label class="col-md-3">
											      Scan/Enter Batch No.
											    </label>
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    CentreNameDrv
											  </label>
											  <div class="col-md-20 col-md-offset-8">
											    {{ equipmentReadingControl.centreNameDrv }}
											  </div>
											</div>
											<input [(ngModel)]="equipmentReadingControl.equipReadingBatchNo" name="equipReadingBatchNo" id="equipReadingBatchNo" type="hidden"/>
											<input [(ngModel)]="equipmentReadingControl.awhRegionCode" name="awhRegionCode" id="awhRegionCode" type="hidden"/>
											<input [(ngModel)]="equipmentReadingControl.centreCodeKey" name="centreCodeKey" id="centreCodeKey" type="hidden"/>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    Date
											  </label>
											  <div class="col-md-6 col-md-offset-8">
											    {{ equipmentReadingControl.readingRequiredDate }}
											  </div>
											</div>
											<input [(ngModel)]="equipmentReadingControl.equipReadingCtrlSts" name="equipReadingCtrlSts" id="equipReadingCtrlSts" type="hidden"/>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    EquipmentLeasor
											  </label>
											  <div class="col-md-5 col-md-offset-8">
											    {{ equipmentReadingControl.equipmentLeasor }}
											  </div>
											</div>
										</fieldset>
										<!-- NAVIGATION KEYS -->
										<div class="btn-group">
										  <app-function-key-panel [keys]="funcParams">
										  </app-function-key-panel>
										  <app-enter-key (enterButtonFunction)="onSubmit()" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary pull-right" divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
										  </app-enter-key>
										</div>
									</form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
