<div class="1-page">
	<a id="top"></a>
  <div class="container c-Main">
		<app-header [publicBulletinDisable]="true" previous [signoutDisable]="false" [endJobHide]="false" menuName="Build Reading Batch">
		</app-header>
    <div class="row">
      <section class="col-md-80 connectedSortable">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title">Build Reading Batch</h3>
          </div>
          <div class="box-body" id="flat-box">
            <div class="col-md-offset-0">
              <div class="row">
                <div class="col-md-80">
                  <form class="form-horizontal" name="flatPanel" enable-validation="true" auto-focus="true">
										<!-- DTL SCREEN RECORD LAYOUT -->
                    <fieldset>
											<div *ngIf="!add" class="form-group">
											  <label for="readingRequiredDate" class="col-md-3 control-label">
											    ReadingRequiredDate
											  </label>
											  <div class="col-md-9 col-md-offset-8">
											    <div class="input-group">
											      <div class="input-group">
											        <p-calendar dateFormat="yy-mm-dd" [(ngModel)]="plantEquipment.readingRequiredDate" [showIcon]="true" name="readingRequiredDate">
											        </p-calendar>
											      </div>
											    </div>
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="awhRegionCode" class="col-md-3 control-label">
											    RegionCode
											  </label>
											  <div class="col-md-5 col-md-offset-8">
											    <div class="input-group">
											      <input [maxLength]="1" size="11em" [(ngModel)]="plantEquipment.awhRegionCode" name="awhRegionCode" id="awhRegionCode" placeholder="Region Code" type="text" class="form-control"/>
											      <app-function-key-panel [keys]="searchParams" [field]="'awhRegionCode'">
											      </app-function-key-panel>
											    </div>
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    AWHRegion
											  </label>
											  <div class="col-md-30 col-md-offset-8">
											    {{ plantEquipment.awhRegionNameDrv }}
											  </div>
											</div>
											<input [(ngModel)]="plantEquipment.equipmentLeasor" name="equipmentLeasor" id="equipmentLeasor" type="hidden"/>
											<input [(ngModel)]="plantEquipment.equipmentStatus" name="equipmentStatus" id="equipmentStatus" type="hidden"/>
											<input [(ngModel)]="plantEquipment.equipmentSerialNumber" name="equipmentSerialNumber" id="equipmentSerialNumber" type="hidden"/>
											<input [(ngModel)]="plantEquipment.leaseComencmentDate" name="leaseComencmentDate" id="leaseComencmentDate" type="hidden"/>
											<input [(ngModel)]="plantEquipment.leaseExpireDate" name="leaseExpireDate" id="leaseExpireDate" type="hidden"/>
											<input [(ngModel)]="plantEquipment.leaseMonthlyRateS" name="leaseMonthlyRateS" id="leaseMonthlyRateS" type="hidden"/>
											<input [(ngModel)]="plantEquipment.leaseMaxTotalUnits" name="leaseMaxTotalUnits" id="leaseMaxTotalUnits" type="hidden"/>
											<input [(ngModel)]="plantEquipment.readingFrequency" name="readingFrequency" id="readingFrequency" type="hidden"/>
											<input [(ngModel)]="plantEquipment.visualEquipmentCode" name="visualEquipmentCode" id="visualEquipmentCode" type="hidden"/>
											<div *ngIf="!add" class="form-group">
											  <label for="centreCodeKey" class="col-md-3 control-label">
											    Centre
											  </label>
											  <div class="col-md-4 col-md-offset-8">
											    <div class="input-group">
											      <input [maxLength]="2" size="6em" [(ngModel)]="plantEquipment.centreCodeKey" name="centreCodeKey" id="centreCodeKey" placeholder="Centre" type="text" class="form-control"/>
											    </div>
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    CentreNameDrv
											  </label>
											  <div class="col-md-20 col-md-offset-8">
											    {{ plantEquipment.centreNameDrv }}
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="checkForHolidays" class="col-md-3 control-label">
											    IgnoreHolidays
											  </label>
											  <div class="col-md-5 col-md-offset-8">
											    <div class="input-group">
											      <select [(ngModel)]="plantEquipment.checkForHolidays" name="checkForHolidays" id="checkForHolidays" title="IgnoreHolidays" class="form-control">
											        <option value="{{ operator.code }}" *ngFor="let operator of checkForHolidays">
											          {{ operator.description }}
											        </option>
											      </select>
											    </div>
											  </div>
											</div>
											<div class="form-group">
											  <div>
											    <label class="col-md-3">
											      Report Defaults onlyrequired if centreentered, otherwise w
											    </label>
											  </div>
											</div>
											<div class="form-group">
											  <div>
											    <label class="col-md-3">
											      On Each Centres Default Printer.
											    </label>
											  </div>
											</div>
											<div class="form-group">
											  <div>
											    <label class="col-md-3">
											      Report Defaults
											    </label>
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="outputQueue" class="col-md-3 control-label">
											    ReportDefaults
											  </label>
											  <div class="col-md-14 col-md-offset-8">
											    <div class="input-group">
											      <input [maxLength]="10" size="15em" [(ngModel)]="plantEquipment.outputQueue" name="outputQueue" id="outputQueue" placeholder="Report Defaults" type="text" class="form-control"/>
											    </div>
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="copies" class="col-md-3 control-label">
											    Copies
											  </label>
											  <div class="col-md-4 col-md-offset-8">
											    <div class="input-group">
											      <input [maxLength]="2" size="6em" [(ngModel)]="plantEquipment.copies" name="copies" id="copies" placeholder="Copies" type="text" class="form-control"/>
											    </div>
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="forms" class="col-md-3 control-label">
											    Forms
											  </label>
											  <div class="col-md-17 col-md-offset-8">
											    <div class="input-group">
											      <select [(ngModel)]="plantEquipment.forms" name="forms" id="forms" title="Forms" class="form-control">
											        <option value="{{ operator.code }}" *ngFor="let operator of forms">
											          {{ operator.description }}
											        </option>
											      </select>
											    </div>
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="holdClFormatyesno" class="col-md-3 control-label">
											    Hold(CLFormatYESNO)
											  </label>
											  <div class="col-md-10 col-md-offset-8">
											    <div class="input-group">
											      <select [(ngModel)]="plantEquipment.holdClFormatyesno" name="holdClFormatyesno" id="holdClFormatyesno" title="Hold(CLFormatYESNO)" class="form-control">
											        <option value="{{ operator.code }}" *ngFor="let operator of holdClFormatyesno">
											          {{ operator.description }}
											        </option>
											      </select>
											    </div>
											  </div>
											</div>
											<div *ngIf="!add" class="form-group">
											  <label for="saveClFormatyesno" class="col-md-3 control-label">
											    Save(CLFormatYESNO)
											  </label>
											  <div class="col-md-10 col-md-offset-8">
											    <div class="input-group">
											      <select [(ngModel)]="plantEquipment.saveClFormatyesno" name="saveClFormatyesno" id="saveClFormatyesno" title="Save(CLFormatYESNO)" class="form-control">
											        <option value="{{ operator.code }}" *ngFor="let operator of saveClFormatyesno">
											          {{ operator.description }}
											        </option>
											      </select>
											    </div>
											  </div>
											</div>
											<input [(ngModel)]="plantEquipment.outputQueueLibrary" name="outputQueueLibrary" id="outputQueueLibrary" type="hidden"/>
										</fieldset>
										<!-- NAVIGATION KEYS -->
										<div class="btn-group">
										  <app-function-key-panel [keys]="funcParams">
										  </app-function-key-panel>
										  <app-enter-key (enterButtonFunction)="onSubmit()" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary pull-right" divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
										  </app-enter-key>
										</div>
									</form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
