<div class="l-page">
    <div *ngIf="showLoader()">
        <div class="overlay">
            <div id="loader"></div>
        </div>
    </div>
    <a id="top"></a>
    <div class="container c-Main">
        <router-outlet></router-outlet>
    </div>
</div>
<p-growl [(value)]="msgs"></p-growl>
<p-confirmDialog></p-confirmDialog>