<div class="1-page">
	<a id="top"></a>
  <div class="container c-Main">
		<app-header [publicBulletinDisable]="true" previous [signoutDisable]="false" [endJobHide]="false" menuName="Equipment Readings">
		</app-header>
    <div class="row">
      <section class="col-md-80 connectedSortable">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title">Equipment Readings</h3>
          </div>
          <div class="box-body" id="flat-box">
            <div class="col-md-offset-0">
              <div class="row">
                <div class="col-md-80">
                  <form class="form-horizontal" name="flatPanel">
										<!-- CTL SCREEN RECORD LAYOUT -->
										<div class="form-group">
										  <label class="col-md-3 control-label">
										    BatchNo.
										  </label>
										  <div class="col-md-9 col-md-offset-8">
										    {{ plantEquipment.equipReadingBatchNo }}
										  </div>
										</div>
										<div class="form-group">
										  <label class="col-md-3 control-label">
										    ReadingDate
										  </label>
										  <div class="col-md-6 col-md-offset-8">
										    {{ plantEquipment.readingRequiredDate }}
										  </div>
										</div>
										<div class="form-group">
										  <label class="col-md-3 control-label">
										    Centre
										  </label>
										  <div class="col-md-2 col-md-offset-8">
										    {{ plantEquipment.centreCodeKey }}
										  </div>
										</div>
										<div class="form-group">
										  <label class="col-md-3 control-label">
										    CentreNameDrv
										  </label>
										  <div class="col-md-20 col-md-offset-8">
										    {{ plantEquipment.centreNameDrv }}
										  </div>
										</div>
										<input [(ngModel)]="plantEquipment.equipmentLeasor" name="equipmentLeasor" id="equipmentLeasor" type="hidden"/>
										<input [(ngModel)]="plantEquipment.awhRegionCode" name="awhRegionCode" id="awhRegionCode" type="hidden"/>
										<div *ngIf="!add" class="form-group">
										  <label for="awhBuisnessSegment" class="col-md-3 control-label">
										    AWHBuisnessSegment
										  </label>
										  <div class="col-md-7 col-md-offset-8">
										    <div class="input-group">
										      <select [(ngModel)]="plantEquipment.awhBuisnessSegment" name="awhBuisnessSegment" id="awhBuisnessSegment" title="AWHBuisnessSegment" class="form-control">
										        <option value="{{ operator.code }}" *ngFor="let operator of awhBuisnessSegment">
										          {{ operator.description }}
										        </option>
										      </select>
										    </div>
										  </div>
										</div>
										<div *ngIf="!add" class="form-group">
										  <label for="equipmentTypeCode" class="col-md-3 control-label">
										    TypeCode
										  </label>
										  <div class="col-md-7 col-md-offset-8">
										    <div class="input-group">
										      <input [maxLength]="4" size="9em" [(ngModel)]="plantEquipment.equipmentTypeCode" name="equipmentTypeCode" id="equipmentTypeCode" placeholder="Type Code" type="text" class="form-control"/>
										    </div>
										  </div>
										</div>
										<div *ngIf="!add" class="form-group">
										  <label for="plantEquipmentCode" class="col-md-3 control-label">
										    EquipmentCode
										  </label>
										  <div class="col-md-14 col-md-offset-8">
										    <div class="input-group">
										      <input [maxLength]="10" size="14em" [(ngModel)]="plantEquipment.plantEquipmentCode" name="plantEquipmentCode" id="plantEquipmentCode" placeholder="Equipment Code" type="text" class="form-control"/>
										    </div>
										  </div>
										</div>
										<div class="form-group">
										  <div class="col-md-9 col-md-offset-11">
										    <div class="btn-group">
										      <button (click)="onSubmit()" [disabled]="add" type="button" title="Filter" class="btn btn-primary">
										        <i class="fa fa-filter">
										        </i>
										        Filter
										      </button>
										    </div>
										  </div>
										</div>
										<!-- TABLE SCREEN -->
										<fieldset>
										  <div class="box box-primary grid-box">
										    <div class="box-body">
										      <div class="row">
										        <div class="col-xs-80">
										          <div class="table-responsive">
										            <app-grid-panel [data]="dialogData" (dialogEvent)="dialogEvent($event)">
										            </app-grid-panel>
										          </div>
										        </div>
										      </div>
										    </div>
										  </div>
										</fieldset>
										<!-- NAVIGATION KEYS -->
										<div class="btn-group">
										  <app-function-key-panel [keys]="funcParams">
										  </app-function-key-panel>
										  <app-enter-key (enterButtonFunction)="onSubmit()" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary pull-right" divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
										  </app-enter-key>
										</div>
									</form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
