<p-dialog [closeOnEscape]="false" [(visible)]="visible" [closable]="false" modal="modal" [responsive]="true" width="800">
    <p-header>
        <div class="col-xs-44">
            Select Organisation (Dump)
        </div>
    </p-header>
    <p-table #turboTable [columns]="cols" [totalRecords]="totalRecords" [(selection)]="mySelections" [selectionMode]="single" [lazy]="true" scrollHeight="600px" (onLazyLoad)="processGrid($event)" [rows]="organisationDump.size" [value]="gridVariable">
        <ng-template let-columns pTemplate="header">
            <tr>
                <th style="width: 2.25em">
                </th>               
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
            <tr>
                <th style="width: 3.35em"></th>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <div *ngIf="col.isSearch">
                        <!-- setFilterData($event.target.value, col.field); -->
                        <input [(ngModel)]="organisationDump[col.field]" type="text" (submit)="turboTable.filter($event.target.value, col.field,
              col.filterMatchMode)">
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template let-rowData let-columns="columns" pTemplate="body">
            <tr [pSelectableRow]="rowData">
                <td>
                    <p-tableRadioButton [value]="rowData">
                    </p-tableRadioButton>
                </td>
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <a href="#" class="previous" (click)="organisationDump['_SysCmdKey'
        ]='27';client.reply();">&laquo; Roll Up</a>
            <a href="#" class="next" (click)="organisationDump[ '_SysCmdKey']=
        '28';client.reply();">Roll Down &raquo;</a>
        </ng-template>
    </p-table>
    <p-footer>
        <app-function-key-panel [keys]="funcParams">
        </app-function-key-panel>
        <app-enter-key (enterButtonFunction)="onSubmit()" (focus)="true" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary
      pull-right" divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
        </app-enter-key>
    </p-footer>
</p-dialog>