<div class="1-page">
	<a id="top"></a>
  <div class="container c-Main">
		<app-header [publicBulletinDisable]="true" previous [signoutDisable]="false" [endJobHide]="false" menuName="Wrk Equipment Readings">
		</app-header>
    <div class="row">
      <section class="col-md-80 connectedSortable">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title">Wrk Equipment Readings</h3>
          </div>
          <div class="box-body" id="flat-box">
            <div class="col-md-offset-0">
              <div class="row">
                <div class="col-md-80">
                  <form class="form-horizontal" name="flatPanel">
										<!-- CTL SCREEN RECORD LAYOUT -->
										<input [(ngModel)]="equipmentReadingControl.outputQueue" name="outputQueue" id="outputQueue" type="hidden"/>
										<input [(ngModel)]="equipmentReadingControl.outputQueueLibrary" name="outputQueueLibrary" id="outputQueueLibrary" type="hidden"/>
										<input [(ngModel)]="equipmentReadingControl.copies" name="copies" id="copies" type="hidden"/>
										<input [(ngModel)]="equipmentReadingControl.forms" name="forms" id="forms" type="hidden"/>
										<input [(ngModel)]="equipmentReadingControl.holdClFormatyesno" name="holdClFormatyesno" id="holdClFormatyesno" type="hidden"/>
										<input [(ngModel)]="equipmentReadingControl.saveClFormatyesno" name="saveClFormatyesno" id="saveClFormatyesno" type="hidden"/>
										<input [(ngModel)]="equipmentReadingControl.printJobName" name="printJobName" id="printJobName" type="hidden"/>
										<input [(ngModel)]="equipmentReadingControl.spoolFileName" name="spoolFileName" id="spoolFileName" type="hidden"/>
										<input [(ngModel)]="equipmentReadingControl.overflowLineNumberText" name="overflowLineNumberText" id="overflowLineNumberText" type="hidden"/>
										<div *ngIf="!add" class="form-group">
										  <label for="awhRegionCode" class="col-md-3 control-label">
										    RegionCode
										  </label>
										  <div class="col-md-5 col-md-offset-8">
										    <div class="input-group">
										      <input [maxLength]="1" size="11em" [(ngModel)]="equipmentReadingControl.awhRegionCode" name="awhRegionCode" id="awhRegionCode" placeholder="Region Code" type="text" class="form-control"/>
										    </div>
										  </div>
										</div>
										<div class="form-group">
										  <label class="col-md-3 control-label">
										    AWHRegion
										  </label>
										  <div class="col-md-30 col-md-offset-8">
										    {{ equipmentReadingControl.awhRegionNameDrv }}
										  </div>
										</div>
										<div *ngIf="!add" class="form-group">
										  <label for="centreCodeKey" class="col-md-3 control-label">
										    Centre
										  </label>
										  <div class="col-md-4 col-md-offset-8">
										    <div class="input-group">
										      <input [maxLength]="2" size="6em" [(ngModel)]="equipmentReadingControl.centreCodeKey" name="centreCodeKey" id="centreCodeKey" placeholder="Centre" type="text" class="form-control"/>
										    </div>
										  </div>
										</div>
										<div class="form-group">
										  <label class="col-md-3 control-label">
										    CentreNameDrv
										  </label>
										  <div class="col-md-20 col-md-offset-8">
										    {{ equipmentReadingControl.centreNameDrv }}
										  </div>
										</div>
										<div *ngIf="!add" class="form-group">
										  <label for="readingRequiredDate" class="col-md-3 control-label">
										    ReadingRequiredDate
										  </label>
										  <div class="col-md-9 col-md-offset-8">
										    <div class="input-group">
										      <div class="input-group">
										        <p-calendar dateFormat="yy-mm-dd" [(ngModel)]="equipmentReadingControl.readingRequiredDate" [showIcon]="true" name="readingRequiredDate">
										        </p-calendar>
										      </div>
										    </div>
										  </div>
										</div>
										<div *ngIf="!add" class="form-group">
										  <label for="equipReadingCtrlSts" class="col-md-3 control-label">
										    EquipReadingCtrlSts
										  </label>
										  <div class="col-md-8 col-md-offset-8">
										    <div class="input-group">
										      <select [(ngModel)]="equipmentReadingControl.equipReadingCtrlSts" name="equipReadingCtrlSts" id="equipReadingCtrlSts" title="EquipReadingCtrlSts" class="form-control">
										        <option value="{{ operator.code }}" *ngFor="let operator of equipReadingCtrlSts">
										          {{ operator.description }}
										        </option>
										      </select>
										    </div>
										  </div>
										</div>
										<div class="form-group">
										  <div class="col-md-9 col-md-offset-11">
										    <div class="btn-group">
										      <button (click)="onSubmit()" [disabled]="add" type="button" title="Filter" class="btn btn-primary">
										        <i class="fa fa-filter">
										        </i>
										        Filter
										      </button>
										    </div>
										  </div>
										</div>
										<!-- TABLE SCREEN -->
										<fieldset>
										  <div class="box box-primary grid-box">
										    <div class="box-body">
										      <div class="row">
										        <div class="col-xs-80">
										          <div class="table-responsive">
										            <app-grid-panel [data]="dialogData" (dialogEvent)="dialogEvent($event)">
										            </app-grid-panel>
										          </div>
										        </div>
										      </div>
										    </div>
										  </div>
										</fieldset>
										<!-- NAVIGATION KEYS -->
										<div class="btn-group">
										  <app-function-key-panel [keys]="funcParams">
										  </app-function-key-panel>
										  <app-enter-key (enterButtonFunction)="onSubmit()" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary pull-right" divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
										  </app-enter-key>
										  <button (click)="process('Not entered')" type="button" class="btn btn-default">
										    Set Cursor Position for subfile reload.
										  </button>
										  <button (click)="process('5#1')" type="button" class="btn btn-default">
										    5=Display
										  </button>
										  <button (click)="process('Select#1')" type="button" class="btn btn-default">
										    1=Enter readings
										  </button>
										  <button (click)="process('P')" type="button" class="btn btn-default">
										    P=Reprint Reading report
										  </button>
										</div>
									</form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
