<div class="1-page">
	<a id="top"></a>
  <div class="container c-Main">
		<app-header [publicBulletinDisable]="true" previous [signoutDisable]="false" [endJobHide]="false" menuName="Add Plant Equipment">
		</app-header>
    <div class="row">
      <section class="col-md-80 connectedSortable">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title">Add Plant Equipment</h3>
          </div>
          <div class="box-body" id="flat-box">
            <div class="col-md-offset-0">
              <div class="row">
                <div class="col-md-80">
                  <form class="form-horizontal" name="flatPanel" enable-validation="true" auto-focus="true">
										<!-- DTL SCREEN RECORD LAYOUT -->
                    <fieldset>
											<div *ngIf="!add" class="form-group">
											  <label for="awhRegionCode" class="col-md-3 control-label">
											    RegionCode
											  </label>
											  <div class="col-md-5 col-md-offset-8">
											    <div class="input-group">
											      <input [maxLength]="1" size="11em" [(ngModel)]="plantEquipment.awhRegionCode" name="awhRegionCode" id="awhRegionCode" placeholder="Region Code" type="text" class="form-control"/>
											      <app-function-key-panel [keys]="searchParams" [field]="'awhRegionCode'">
											      </app-function-key-panel>
											    </div>
											  </div>
											</div>
											<div class="form-group">
											  <label class="col-md-3 control-label">
											    AWHRegion
											  </label>
											  <div class="col-md-30 col-md-offset-8">
											    {{ plantEquipment.awhRegionNameDrv }}
											  </div>
											</div>
											<input [(ngModel)]="plantEquipment.equipmentStatus" name="equipmentStatus" id="equipmentStatus" type="hidden"/>
											<input [(ngModel)]="plantEquipment.equipmentSerialNumber" name="equipmentSerialNumber" id="equipmentSerialNumber" type="hidden"/>
											<input [(ngModel)]="plantEquipment.leaseComencmentDate" name="leaseComencmentDate" id="leaseComencmentDate" type="hidden"/>
											<input [(ngModel)]="plantEquipment.leaseExpireDate" name="leaseExpireDate" id="leaseExpireDate" type="hidden"/>
											<input [(ngModel)]="plantEquipment.leaseMonthlyRateS" name="leaseMonthlyRateS" id="leaseMonthlyRateS" type="hidden"/>
											<input [(ngModel)]="plantEquipment.leaseMaxTotalUnits" name="leaseMaxTotalUnits" id="leaseMaxTotalUnits" type="hidden"/>
											<input [(ngModel)]="plantEquipment.readingFrequency" name="readingFrequency" id="readingFrequency" type="hidden"/>
											<input [(ngModel)]="plantEquipment.visualEquipmentCode" name="visualEquipmentCode" id="visualEquipmentCode" type="hidden"/>
											<div *ngIf="!add" class="form-group">
											  <label for="plantEquipmentCode" class="col-md-3 control-label">
											    EquipmentCode
											  </label>
											  <div class="col-md-14 col-md-offset-8">
											    <div class="input-group">
											      <input [maxLength]="10" size="14em" [(ngModel)]="plantEquipment.plantEquipmentCode" name="plantEquipmentCode" id="plantEquipmentCode" placeholder="Equipment Code" type="text" class="form-control"/>
											    </div>
											  </div>
											</div>
										</fieldset>
										<!-- NAVIGATION KEYS -->
										<div class="btn-group">
										  <app-function-key-panel [keys]="funcParams">
										  </app-function-key-panel>
										  <app-enter-key (enterButtonFunction)="onSubmit()" enterButtonTitle="Continue" enterButtonClass="c-button__Action--primary pull-right" divClass="col-md-16 pull-right marginTop" [enterButton]="true" enterButtonID="continueButton">
										  </app-enter-key>
										</div>
									</form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
