.quoteordermenu-col-3-pad {
    padding-top: 137px;
}

#slmnbox {
    /* center the element */
    position: fixed;
    top: 135px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 10em;
    width: 35%;
    -webkit-animation: in 0.1s ease-in;
    animation: in 0.1s ease-in;
}




/* Standard syntax */

@-webkit-keyframes in {
    from {
        right: 790px;
    }
    to {
        right: 0;
    }
}

#slmn {
    width: 100%;
}

#slmnbox::before {
    display: none;
}

#slmnbox .current-menu {
    color: #797979;
    margin-top: 30px;
    margin-left: 234px;
    font-size: 12px;
}
.cscFormInput{
    width:50%;
}



.ship-to-form {
    margin-top: -20px;
    margin-right: 44px;
    margin-bottom: 20px;
    margin-left: 44px;
    padding: 20px 0 26px 0;
}

.ship-to-form .ship-to {
    color: #1ba085;
    display: inline;
}

.ship-to-form .custname {
    display: inline;
    color: black;
}

.ship-to-form .address {
    margin-left: 90px;
    margin-bottom: -30px;
}

.ship-to-form .address p {
    color: black;
}
.cscerrormsg{
    color:red; 
    margin-left: 430px;
    margin-top:20px;
}
.c-form__Text_1{
    width:500px;
}
.form-control {
    -webkit-border-radius: 0px !important;
    -webkit-background-clip: padding-box !important;
    -moz-border-radius: 0px !important;
    -moz-background-clip: padding !important;
    border-radius: 0px !important;
    background-clip: padding-box !important;
    box-shadow: none;
  }

